		/* For avoiding title truncation in wp8 */
		.ui-header .ui-title {
				overflow: visible !important;
		}
		/* For fixing the absolute position issue for the default cordova gen page*/
		#cjp-accordion1 .app {
				left: 5px !important;
				margin: 5px !important;
				position: relative !important;
		}
